$washedGray: rgba(0, 0, 0, 0.04);
$small-border-radius: 2px;
$medium-border-radius: 4px;
$large-border-radius: 8px;
$xlarge-border-radius: 16px;
$light-gray: #d0d0d0;
$mid-gray: rgba(0, 0, 0, 0.6);
$dark-gray: rgba(102, 102, 102, 1);
$rollup-yellow: rgba(255, 199, 0, 1);
$accept-green: rgba(0, 159, 101, 1);
