@import './base.css';

/* SF */
@import './fonts64/SF-Pro-Text-Light.css';
@import './fonts64/SF-Pro-Text-Regular.css';
@import './fonts64/SF-Pro-Text-Medium.css';
@import './fonts64/SF-Pro-Text-Semibold.css';

/* Source Code Pro */
@import './fonts64/SourceCodePro-Regular.css';
@import './fonts64/SourceCodePro-Bold.css';

/* Work Sans */
@import './fonts64/WorkSans-SemiBold.css';
@import './fonts64/WorkSans-Medium.css';

@import './type.css';

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  line-height: 6rem;
}

a {
  color: white;
}

button:hover, .btn:hover {
  cursor: pointer;
}
button, .btn {
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 4rem;
  line-height: 4rem;
  padding: 3rem 6rem;
  user-select: none;
}

.btn-success {
  background-color: #6FDC74;
  font-family: "Source Code Pro";
}

.wrapper {
  min-height: calc(100vh - 52px - 106px - 80px);
}

header {
  width: 100%;
  height: 106px;
}

footer,
.push {
  height: 52px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.align-baseline {
  align-items: baseline;
}

.align-center {
  align-items: center;
}

/*
RADIO
*/

.radio p {
  user-select: none;
}

.radio p:first-child {
  font-weight: 600;
  /* line-height: 4rem; */
  margin-bottom: 2rem;
}

.radio p:nth-child(2) {
  font-weight: 400;
}

.radio div {
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  flex: 1;
}

.radio input[type='radio'] {
  display: none;
}

.radio label:before {
  content: '';
  position: absolute;
  width: 6rem;
  height: 6rem;
  border-radius: 999px;
}

.radio.isNotChecked label:before {
  border: 2px solid white;
  background-color: transparent;
}

.radio.isChecked label:before {
  background-color: #4330FC;
  border: 2px solid #4330FC;
}

.radio label {
  width: 6rem;
  height: 6rem;
  margin:0;
  border-radius: 999px;
  position: relative;
}

.radio label:hover {
  cursor: pointer;
}

.radio label input[type='radio']+span {
  border-radius: 999px;
  width: 8px;
  height: 8px;
  display: block;
  transform: translate(2.5rem, 2.5rem);
  background-color: none;
}

.radio label input[type='radio']:checked+span {
  background-color: black;
}



/*
CHECKBOX
*/
.checkbox p {
  user-select: none;
  margin-top: 0;
  margin-bottom: 0;
}

.checkbox p:first-child {
  font-weight: 600;
  margin-bottom: 2rem;
}

.checkbox p:first-child:hover {
  /* cursor: pointer; */
}

.checkbox p:nth-child(2) {
  font-weight: 400;
}

.checkbox div {
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  flex: 1;
}

.checkbox input[type='checkbox'] {
  display: none;
}

.checkbox label:before {
  content: '';
  position: absolute;
  width: 4rem;
  height: 4rem;
}

.checkbox.isNotChecked label:before {
  border: 2px solid white;
  background-color: transparent;
}

.checkbox.isChecked label:before {
  background-color: #4330FC;
  border: 2px solid #4330FC;
}

.checkbox label {
  width: 4rem;
  height: 4rem;
  margin:0;
  position: relative;
}

.checkbox label:hover {
  cursor: pointer;
}

.checkbox label input[type='checkbox']+svg {
  transform: translate(0, 0);
  opacity: 0;
}


.checkbox label input[type='checkbox']:checked+svg {
  opacity: 1;
}

.checkbox label input[type='checkbox']:checked+span {
  background-color: black;
}

.c-blue { color: #4330FC; }

.c-red { color: #EE3124; }

.c-green { color: #6FDC74; }

.c-orange { color: #FFC440; }

.c-gray { color: #333333; }

.c-gray-60 { color: #666666; }

.c-gray-30 { color: #B3B3B3; }

.c-gray-10 { color: #F2F2F2; }

.c-black { color: #111111; }

.c-white { color: #FFFFFF; }

.c-gray-30 { color: #B3B3B3; }

.br-blue { border-color: #4330FC; }

.br-red { border-color: #EE3124; }

.br-green { border-color: #6FDC74; }

.br-orange { border-color: #FFC440; }

.br-gray { border-color: #333333; }

.br-gray-60 { border-color: #666666; }

.br-gray-30 { border-color: #B3B3B3; }

.br-gray-10 { border-color: #F2F2F2; }

.br-black { border-color: #111111; }

.br-white { border-color: #FFFFFF; }

.br-gray-30 { border-color: #B3B3B3; }

.bg-darkGreen {
  background-color: #0ea155;
}

.c-darkGreen {
  color: #0ea155;
}

.bg-very-high {
  background-color: #FCC440;
}

.bg-high {
  background-color: #76B9FC;
}

.bg-medium {
  background-color: #3279FC;
}

.bg-low {
  background-color: #4330FC;
}

.spinner-pending {
  position: relative;
  content: "";
  border-radius: 100%;
  height: 10rem;
  width: 10rem;

  background-color: rgba(255,255,255,0.66);
}

.spinner-pending::after {
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(255,255,255,1);
  width: 10rem;
  height: 10rem;
  position: absolute;
  border-radius: 100%;
  clip: rect(0, 10rem, 10rem, 5rem);
  animation: spin 1.2s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite;
}


@keyframes spin {
  0%    {transform:rotate(0deg)}
  25%   {transform:rotate(90deg)}
  50%   {transform:rotate(180deg)}
  75%   {transform:rotate(270deg)}
  100%  {transform:rotate(360deg)}
 }

.spinner-nostart {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  content:'';
  background-color: white;
}

.spinner-done {

}

.upload-button {
  label > * {
    pointer-events: none;
  }
}

.hidden {
  width: 0.1;
  height: 0.1;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -100000000;
}

.full {
  display: block;
  content: '';
  width: 100%;
  flex: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.table {
  display: table;
}

.btn-tray {
  margin-top: 8rem;
}


code, pre {
  background-color: #222;
}

.flex {
  flex-wrap: nowrap;
}

.extremely-hidden {
  position: fixed;
  top: -99999;
  left: -99999;
  visibility: hidden;
  opacity:0;
}

.b-r-1-black {
  border-right: 1px solid black;
}

.bg-lightBlue {
  background-color: #6C5CFF;
}

.bg-lightBlue-pending {
  background-color: #6C5CFF;
  animation-name: blinking-load;
  animation-duration: 0.5s;
  transition: background-color 0.5s;
  animation-iteration-count: infinite;
}

@keyframes blinking-load {
  0%   {top: 0px;background-color: #6C5CFF;}
  50%  {top: 100px;background-color: #4330FC;}
  100% {top: 0px;background-color: #6C5CFF;}
}


.f-1 {
  flex: 0.1;
}

.f-2 {
  flex: 0.2;
}

.f-3 {
  flex: 0.3;
}

.f-4 {
  flex: 0.4;
}

.f-5 {
  flex: 0.5;
}

.noClick {
  pointer-events: none;
}

.legal ol {
  counter-reset: item;
}

.legal ol li {
  display: block;
}

.legal ol ol li {
  padding-left: 8rem;
}

.legal ol li:before {
  content: counters(item, ".") ".";
  counter-increment: item;
  display: inline-block;
  transform: translate(-10rem,5.825rem);
}

.legal .ls-alpha {
  counter-reset: item;
}

.legal .ls-alpha li:before {
  content: counter(item, lower-alpha) ".";
  counter-increment: item;
  display: inline-block;
  transform: translate(-10rem,5.825rem);
}
