{
  "extends": [
    "react-app",
    "prettier",
    "prettier/react",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "prettier",
    "react-hooks",
    "jsx-a11y"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
