@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 300;
  src: url('SF-Pro-Text-Light.otf') format('opentype'),
}

@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 500;
  src: url('SF-Pro-Text-Medium.otf') format('opentype'),
}
