div.activate-view {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  padding: 10px;
  min-width: 600px;
  min-height: 500px;

  @keyframes opacity-fill {
    0% {
      fill-opacity: 0.2;
    }
    100% {
      fill-opacity: 1.0;
    }
  }

  svg.master-key {
    .first-one {
        animation: opacity-fill 200ms linear forwards infinite;
        animation-delay: 100ms;
    }
    
    .first-two {
        animation: opacity-fill 200ms linear forwards infinite;  
        animation-delay: 200ms; 
    }
    
    .first-three {
        animation: opacity-fill 200ms linear forwards infinite;  
        animation-delay: 300ms; 
    
    }
    
    .second-one {
        animation: opacity-fill 200ms linear forwards infinite;  
        animation-delay: 400ms; 
    }
    .second-two {
        animation: opacity-fill 200ms linear forwards infinite;  
        animation-delay: 500ms; 
    }
    
    .second-three {
        animation: opacity-fill 200ms linear forwards infinite;  
        animation-delay: 600ms; 
    }
    
    .third-one {
        animation: opacity-fill 200ms linear forwards infinite;  
        animation-delay: 700ms;
    }
    .third-two {
        animation: opacity-fill 200ms linear forwards infinite;  
        animation-delay: 800ms;
    }
    .third-three {
        animation: opacity-fill 200ms linear forwards infinite;  
        animation-delay: 900ms;
    }
    
    .fourth-one {
        animation: opacity-fill 200ms linear forwards infinite;  
        animation-delay: 1s;
    }
    
    .fourth-two {
        animation: opacity-fill 200ms linear forwards infinite;  
        animation-delay: 1.1s;   
    }
    
    .fourth-three {
        animation: opacity-fill 200ms linear forwards infinite;  
        animation-delay: 1.2s;
    }
  }
}
