.id-ops {
  .between-row {
    .section-title, .subtitle {
      font-size: 14px;
    }
  }
}

.ops-l1-request {
  .loading-container {
    min-height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}