@import 'style/shared/variables.scss';

.l2-back-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin: 48px 0px 8px;

  .login-margins {
    margin: 0px 0px 16px;
  }

  .rollup-timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }
  }

  .eth-balance {
    .wallet-icon {
      height: 12px;
      width: 14px;
      margin-right: 4px;
      margin-top: 2px;
    }
  }
}
