bridge {}

a {
  font-family: 'Inter UI';
  background-color: transparent;
  font-weight: 400;
  text-decoration: underline;
  user-select: auto;
  padding: 0rem;
  color: black;
}

a[prop-disabled='true']  {
  color: #B3B3B3;
  pointer-events: none;
}

a[prop-size='sm'] {
  font-size: 3.5rem;
  margin-bottom: 0rem;
}

a[prop-size='md'] {
  font-size: 4rem;
  margin-bottom: 1rem;
}

a[prop-size='lg'] {
  font-size: 5rem;
  margin-bottom: 2rem;
}
