// min-height the top elements so footer behavior works correctly
html {
  height: 100%;
}

body {
  min-height: 100%;
}

#root {
  min-height: 100vh;
}

.animated-width {
  transition: width 500ms ease-out;
}

// Wrap a @tlon/indigo-react Icon with a circular background
span.circular-icon-bg {
  height: 18px;
  width: 18px;
  margin-right: 8px;
  border-radius: 50%;
}
