@keyframes autofill {
  to {
    color: #000;
    background: transparent;
  }
}

/* avoid yellow autofill highlight on browsers that respect this attribute */
input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;

  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
