$handle-extent: 24px; // $lh-regular

// min-height the top elements so footer behavior works correctly
html {
  height: 100%;
}

body {
  min-height: 100%;
}

#root {
  min-height: 100vh;
}

// range slider

input[type='range'] {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: #e6e6e6;

  /* Chrome */
  &::-webkit-slider-runnable-track {
    height: $handle-extent;
    -webkit-appearance: none;
    background-color: #e6e6e6;
    margin-top: -1px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: $handle-extent;
    height: 100%;
    background-color: #000;
    border: none;
    border-radius: 0;
    cursor: ew-resize;
  }

  /* FF */
  &::-moz-range-progress {
    height: 100%;
    background-color: #000;
  }

  &::-moz-range-track {
    background-color: #e6e6e6;
  }

  &::-moz-range-thumb {
    width: $handle-extent;
    height: 100%;
    background-color: #000;
    border: none;
    border-radius: 0;
    cursor: ew-resize;
  }

  /* IE */
  &::-ms-fill-lower {
    background-color: #000;
  }

  &::-ms-fill-upper {
    background-color: #e6e6e6;
  }
}
