/* 100vh - footerHeight - footerVerticalMargin - headerHeight */
.wrapper {
  min-height: calc(100vh - 64px - 32px - 40px);
}

/* p {
  font-size: 4rem;
} */

header {
  width: 100%;
}

footer {
  /* padding-top: 12px;
  border-top: 2px solid #aaa; */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.h-bg-blue:hover {
  background-color: #4330FC;
}

.h-br-blue:hover {
  border-color: #4330FC;
}

.f-br-blue:focus {
  border-color: #4330FC;
}

.outline-blue:focus {
  box-shadow: 0 0 0 3px #DAD6FF;
}

.h-bg-green:hover {
  background-color: #2AA779;
}

.h-br-green:hover {
  border-color: #2AA779;
}

.f-br-green:focus {
  border-color: #2AA779;
}

.outline-green:focus {
  box-shadow: 0 0 0 3px #C5FBE7;
}

.h-bg-yellow:hover {
  background-color: #F8C134;
}

.h-br-yellow:hover {
  border-color: #F8C134;
}

.bg-yellow-light {
  background-color: #FFEFC5;
}


.f-br-yellow:focus {
  border-color: #F8C134;
}

.b-dark-yellow {
  border-color: #F3A12E;
}

.outline-yellow:focus {
  box-shadow: 0 0 0 3px #FFEFC5;
}

.h-white:hover {
  color: white;
}

.bg-gray-20-f:focus {
  background-color: #CCCCCC;
}

.bg-gray-10-f:focus {
  background-color: #F2F2F2;
}

.h-br-gray-10:hover {
  border-color: #F2F2F2;
}

/* .br-gray-50 {
} */

.h-bg-gray-10:hover {
  background-color: #F2F2F2;
}

/* .bg-gray-30 {

} */

.bg-gray-10-f:active {
  background-color: transparent;
}

.text-sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.none {
  display: none;
}

.cb label:before {
  content: '';
  position: absolute;
  width: 6rem;
  height: 6rem;
}

.cb label:focus:before {
  box-shadow: 0 0 0 3px #DAD6FF;
}

.cb label {
  margin-right: 4rem;
}

.cb-off label:before {
  border: 2px solid black;
  background-color: transparent;
}

.cb-on label:before {
  background-color: #4330FC;
  border: 2px solid #4330FC;
}

.cb label:hover {
  cursor: pointer;
}

.cb label input[type='checkbox']+svg {
  transform: translate(4px, 4px);
  opacity: 0;
}

.cb label input[type='checkbox']:checked+svg {
  opacity: 1;
}

.user-select-none {
  user-select: none
}

.user-select-auto {
  user-select: auto;
}


.flex-1 {
  flex: 1;
}

.mp-0 {
  margin: 0;
  padding: 0;
}

.fs-1 {
  font-size: 1rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-3 {
  font-size: 3rem;
}

.fs-35 {
  font-size: 3.5rem;
}

.fs-4 {
  font-size: 4rem;
}

.fs-5 {
  font-size: 5rem;
}

.fs-6 {
  font-size: 6rem;
}

.fs-7 {
  font-size: 7rem;
}

.fs-8 {
  font-size: 8rem;
}

.ls-1 > * {
  padding-bottom: 1rem !important;
}

.ls-15 > * {
  padding-bottom: 1.5rem !important;
}

.ls-2 > * {
  padding-bottom: 2rem !important;
}


.bw-2-0-2-2 {
  border-width: 2px;
  border-right-width: 0px;
}

.bw-2-2-0-2 {
  border-width: 2px;
  border-bottom-width: 0px;
}

.bw-0-2-0-2 {
  border-width: 2px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

.bw-2-0-0-0 {
  border-width: 0px;
  border-top-width: 2px;
}

.full {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.b-2 {
  border-width: 2px;
}

.br-0 {
  border-right-width: 0px;
}

.bl-0 {
  border-left-width: 0px;
}

.bt-0 {
  border-top-width: 0px;
}

.bb-0 {
  border-bottom-width: 0px;
}

.bh-0 {
  border-left-width: 0px;
  border-right-width: 0px;
}

.bv-0 {
  border-top-width: 0px;
  border-bottom-width: 0px;
}

.b-solid {
  border-style: solid;
}

.b-blue {
  border-color: #4330FC;
}

.b-gray-50 {
  border-color: #7F7F7F;
}

.s-10 {
  width: 10rem;
  height: 10rem;
}

.s-6 {
  width: 6rem;
  height: 6rem;
}

.s-7 {
  width: 7rem;
  height: 7rem;
}


.s-8 {
  width: 8rem;
  height: 8rem;
}

.t-18 {
  top: 18rem;
}

.s-16 {
  width: 16rem;
  height: 16rem;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.fix {
  position: fixed;
}

.table {
  display: table;
}

.w-100 {
  width: 100%;
}

.t-12, .top-12 {
  top: 12rem;
}

.l-0, .left-0 {
  left: 0px;
}

.t-0, .top-0 {
  top: 0px;
}

.l-2, .left-2 {
  left: 2px;
}

.t-2, .top-2 {
  top: 2px;
}

.f-1 {
  flex: 1;
}

.b-solid {
  border-style: solid;
}

.measure-narrow { max-width: 80rem; }
.measure { max-width: 120rem; }
.measure-wide { max-width: 136rem; }

.measure-sm {
  max-width: 80rem;
}

.measure-md {
  max-width: 108rem;
}

.measure-lg {
  max-width: 136rem;
}

.sans {
  font-family: "Inter UI";
}

.right-2 {
  right: 2rem;
}

.b-1 {
  border-width: 1px;
}

.b-0 {
  border-width: 0px;
}

.origin, .tl-0 {
  top: 0;
  left: 0;
}

.tr-0 {
  top: 0px;
  right: 0px;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mr-05 {
  margin-right: 0.5rem;
}

.bg-transparent {
  background-color: transparent;
}

.b-black {
  border-color: black;
}

.fs-45 {
  font-size: 4.5rem;
}

.w-100p {
  width: 100%;
}

.bt-2 {
  border-top-width: 2px;
}

.bt-8 {
  border-top-width: 8px;
}

code {
  padding: 2px;
}

.pointer:hover {
  cursor: pointer;
}

.mt-auto {
  margin-top: 100%;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
