$form-padding: 24px; // indigo pv3
$form-line-height: 1.5rem;

// inspired by: https://gist.github.com/anthonyshort/552543

input,
button,
textarea,
select {
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-appearance: none;

  &:focus,
  &:hover,
  &:active {
    outline: 0;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  height: calc(#{$form-line-height} + #{$form-padding});
  line-height: $form-line-height;
}

textarea {
  /* Move the label to the top */
  vertical-align: top;

  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}
