.hosting-events {
    margin: 0;
    padding: 2px;
    background: #000;
    list-style: none;
    font-family: monospace;

    li {
        margin: 1px;
        padding: 2px;
        background: #111;
        color: #26ca41;
    }
}