@import 'style/shared/variables';

.body-pane {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.spaced {
    justify-content: space-between;
  }
}