@import 'style/shared/variables';

.header-pane {
  border-bottom: 1px solid $light-gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;

  h5 {
    font-weight: 600;
  }

  .header-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    svg {
      height: 16px;
      width: 16px;
    }

    .header-button {
      background-color: black;
      color: white;
      border-radius: $medium-border-radius;
      border: none;
      height: 32px;
      padding: 8px 16px;
      font-family: $default-font;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}