@import 'style/shared/variables.scss';

.accounts-dropdown {
  font-size: 14px;
  position: relative;

  .selector, .dropdown-content .entry.point {
    font-family: "Source Code Pro", "Roboto mono", "Courier New", monospace;
  }

  .points {
    max-height: 180px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .content-border {
    .dropdown-content {
      .entry, .current-address {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        padding: 8px 12px 8px 16px;

        &.selected {
          background-color: $light-blue;
        }

        &:hover {
          opacity: 0.8;
        }

        svg {
          height: 16px;
          width: 16px;
        }

        .sigil {
          width: 24px;
          height: 24px;
          border-radius: $small-border-radius;
        }

        .layer-migration {
          svg {
            width: 12px;
            height: 12px;
            margin: 4px 2px;
          }
        }
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: $light-gray;
      }
    }
  }
}

.migrate-modal {
  padding: 16px;
  background-color: white;
  border-radius: $medium-border-radius;
  line-height: 24px;
  position: relative;
  width: 368px;

  .close {
    position: absolute;
    top: 3px;
    right: 8px;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
  }

  .title {
    font-weight: 700;
  }

  .message {
    width: 340px;
  }

  .warning {
    font-weight: 600;
    color: $warning-red;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 24px;

    .cancel, .migrate {
      border-radius: $medium-border-radius;
      border: none;
      height: 32px;
      font-family: $default-font;

      &:hover {
        opacity: 0.8;
      }
    }

    .cancel {
      margin-right: 8px;
      background-color: $washed-gray;
    }

    .migrate {
      background-color: black;
      color: white;
    }
  }
}
