@import 'style/shared/variables.scss';

.network-keys-modal {
  background-color: white;
  border-radius: $medium-border-radius;
  line-height: 24px;
  position: relative;
  width: 368px;
  max-width: 100%;

  .title {
    font-weight: 700;
    margin-bottom: 8px;
  }

  .message {
    width: 340px;
  }

  .hide-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 31px;

    .checkbox {
      height: 16px;
      width: 16px;

      svg {
        width: 18px;
        height: 18px;
        color: white;
      }
    }

    .dont-show {
      margin-left: 8px;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;

    }
  }


  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 24px;

    .cancel, .migrate {
      border-radius: $medium-border-radius;
      border: none;
      height: 32px;
      font-family: $default-font;

      &:hover {
        opacity: 0.8;
      }
    }



    .cancel {
      margin-right: 8px;
      background-color: $washed-gray;
    }

    .migrate {
      background-color: black;
      color: white;
    }
  }
}
