@import 'style/shared/variables.scss';

.point {
}

.transaction {
  font-size: 14px;
  padding: 8px;
  border: 1px solid $light-gray;
  border-radius: $large-border-radius;
  margin-bottom: 16px;

  .title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 600;
    }

    .rollup-timer {
      background-color: $rollup-yellow;
      padding: 4px 8px;
      width: 112px;
      border-radius: $medium-border-radius;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      svg {
        height: 14px;
        width: 14px;
        margin-right: 4px;
      }
    }
  }

  .info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .date {

    }
  }
}

.network-keys-modal {
  background-color: white;
  border-radius: $medium-border-radius;
  line-height: 24px;
  position: relative;
  width: 368px;

  .title {
    font-weight: 700;
    margin-bottom: 8px;
  }

  .message {
    width: 340px;
  }

  .hide-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 31px;

    .checkbox {
      height: 16px;
      width: 16px;

      svg {
        width: 16px;
        height: 16px;
        color: white;
      }
    }

    .dont-show {
      margin-left: 8px;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;

    }
  }


  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 24px;

    .cancel, .migrate {
      border-radius: $medium-border-radius;
      border: none;
      height: 32px;
      font-family: $default-font;

      &:hover {
        opacity: 0.8;
      }
    }



    .cancel {
      margin-right: 8px;
      background-color: $washed-gray;
    }

    .migrate {
      background-color: black;
      color: white;
    }
  }
}
