@import 'style/shared/variables.scss';

.point {
}

.transaction {
  font-size: 14px;
  padding: 8px;
  border: 1px solid $light-gray;
  border-radius: $large-border-radius;
  margin-bottom: 16px;

  .title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 600;
    }

    .rollup-timer {
      background-color: $rollup-yellow;
      padding: 8px;
      width: 90px;
      border-radius: $medium-border-radius;
    }
  }

  .info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .date {
      
    }
  }
}
