@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src: url('Inter-UI-Regular.woff2') format('woff2'),
    url('Inter-UI-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 600;
  src: url('Inter-UI-SemiBold.woff2') format('woff2'),
    url('Inter-UI-SemiBold.woff') format('woff');
}
