@import 'style/shared/variables.scss';

.network-keys {
  font-size: 14px;

  .body-pane {
    .contents {
      height: 448px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      .check-row {
        margin-top: 8px;
        font-weight: 500;
    
        .checkbox {
          border-radius: $medium-border-radius;
          height: 16px;
          width: 16px;
          margin-right: 14px;
    
          svg {
            height: 18px;
            width: 18px;
          }
        }
      }
    
      .info-text {
        color: $dark-gray;
        margin: 8px 0px 24px 32px;
      }
    }
  }
}
