@import 'style/shared/variables.scss';

.network-keys {
  font-size: 14px;

  .body-pane {
    height: 360px;

    .download {
      height: 24px;
      width: 24px;
      margin: 0 auto 22px;
    }

    .download-message {
      align-items: center;
      width: 350px;
      //styleName: Sans/UI + Control;
      font-family: Inter;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: center;
      margin: 90px auto 40px;
    }

    .contents {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .check-row {
        margin-top: 8px;
        font-weight: 500;

        .checkbox {
          border-radius: $medium-border-radius;
          height: 16px;
          width: 16px;
          margin-right: 14px;

          svg {
            height: 18px;
            width: 18px;
          }
        }
      }

      .info-text {
        color: $dark-gray;
        margin: 8px 0px 24px 32px;
      }
    }
  }
}
