@import 'style/shared/variables.scss';

.os-home {
  .keyfile > svg {
    margin-right: 4px;
  }
}

.show-keys-modal-content {
  width: 375px;
  background-color: white;
  border-radius: $large-border-radius;
  position: relative;
}
