@import 'style/shared/variables.scss';

.card {
  width: 100%;
  border-radius: $medium-border-radius;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px 13px;
  position: relative;

  .card-title {
    font-weight: bold;
  }

  .card-subtitle {
    color: rgba(0, 0, 0, 0.6);
  }

  svg {
    width: 16px;
    height: 16px;
    margin: 4px 4px 0 0;
  }

  &:hover {
    cursor: pointer;
  }

  .card-warning {
    font-size: 12px;
    font-weight: bold;
    color: $warning-red;
    position: absolute;
    top: 4px;
    right: 8px;

    svg {
      background-color: $warning-red;
      border-radius: 7px;
      width: 14px;
      height: 14px;
      margin: 4px 4px 0 0;
    }
  }
}
