@import 'style/shared/variables.scss';

.card {
  width: 100%;
  border-radius: $medium-border-radius;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px 13px;

  .card-title {
    font-weight: bold;
  }

  svg {
    width: 16px;
    height: 16px;
    margin: 4px 4px 0 0;
  }

  &:hover {
    cursor: pointer;
  }
}
