@import 'style/shared/variables.scss';

.loading-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  svg {
    margin-bottom: 120px;
    height: 60px;
    width: 60px;
  }
}
