@import 'style/shared/variables.scss';

.pending-transaction {
  font-size: 14px;
  padding: 8px;
  border: 1px solid $light-gray;
  border-radius: $large-border-radius;
  margin-bottom: 16px;

  .title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;

    .title {
      font-weight: 600;
    }

    .hash {
      color: $dark-gray;
      
      svg {
        height: 18px;
        width: 18px;
        margin-bottom: -4px;
        -ms-transform:rotate(315deg); /* IE9 */
        -moz-transform: rotate(315deg);  /* FF3.5/3.6 */
        -o-transform: rotate(315deg);  /* Opera 10.5 */
        -webkit-transform: rotate(315deg);  /* Saf3.1+ */
        transform: rotate(315deg);  /* Newer browsers */

        path {
          fill: $dark-gray;
        }
      }
    }

    .rollup-timer {
      background-color: $rollup-yellow;
      padding: 4px 8px;
      width: 112px;
      border-radius: $medium-border-radius;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      svg {
        height: 14px;
        width: 14px;
        margin-right: 4px;
      }
    }
  }

  .info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
